div.propriete {
	&.vieux {
		opacity: .5;
	}

	&.nouveau {
		font-size: 1.5em;
	}

	&.supprimer {
		text-decoration: line-through;
		& > * {
			color: red !important;
		}
	}

	&.cacher {
		display: none;
	}


}

div.bulle {
	font-size: 16px;
	margin-left: 1em;
	border: 1px solid black;
	padding: .5em;
	background-color: rgba(255, 2555, 255, 1);
	display: none;
	position: absolute;
	border-radius: 1em;
	box-shadow: .2em .2em .2em rgba(0, 0, 0, .5);
	font-family: monofur, courier new;
	z-index: 1000;
	pointer-events: none;
	&:before {
		opacity: 1 !important;
	}
}

*.avecbulle,
div.bulle,
span.indicateurBulle {
	&:before {
		display: inherit;
		content: "?";
		font-family: arial;
		font-weight: bold;
		text-align: center;
		border: 1px solid black;
		font-size: 12px;
		width: 1em;
		height: 1em;
		line-height: 1em;
		background-color: #FF0;
		border-radius: 100%;
		margin-left: -1.5em;
		margin-right: -1em;
		float: left;
		opacity: .3;
	}
}


*.avecbulle:hover:before {
	zzzdisplay: none;
	opacity: 1;
}

*.avecbulle:hover {
	box-shadow: 0 0 3px 3px #8080c0;
	position: relative;
}

*:hover + div.bulle {
	display: inherit;
}

div.bulle > div > span:first-child {
	font-weight: bold;
	color: #8080c0;
}
